<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>404错误页模板</title>
<!--<link rel="stylesheet" type="text/css" th:href="@{css/404.css}"/>-->
<link rel="stylesheet" type="text/css" href="css/404.css"/>

</head>
<body bgcolor="76c5f0">

<div class="cw">
	<div class="cw-1"></div>
	<div class="cw-2">
	<div class="cw-3">
	<a href="#">还回首页</a>
	</div>
	<div class="cw-4">
	<a href="#">联系我们</a>
	</div>

    <div style="margin-top:50px; font-size:12px;">	友情链接 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
	</div>
</div>

</body>
</html>